In [4]:
import pandas as pd
import numpy as np
import pickle
from keras.models import model_from_json

### 1. Load model

In [22]:
jfile = open("model1.json", "r")
loaded_json = jfile.read()
jfile.close()
model1 = model_from_json(loaded_json)
model1.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

### 2. Load test dataset

In [6]:
with open('df_test.pickle', 'rb') as file:
    df_test = pickle.load(file)
df_test

                                                 value            xy
0    [131.0, 162.0, 125.0, 130.0, 147.0, 186.0, 25....  [2.78, 2.03]
1    [129.0, 152.0, 127.0, 133.0, 151.0, 187.0, 58....  [2.63, 2.47]
2    [126.0, 149.0, 125.0, 132.0, 145.0, 170.0, 55....  [2.95, 2.54]
3    [129.0, 156.0, 125.0, 130.0, 146.0, 181.0, 32....  [2.83, 2.24]
4    [127.0, 143.0, 130.0, 127.0, 144.0, 165.0, 76....   [2.86, 2.9]
..                                                 ...           ...
995  [124.0, 174.0, 130.0, 129.0, 172.0, 245.0, 78....  [2.07, 2.02]
996  [125.0, 155.0, 129.0, 127.0, 170.0, 206.0, 85....  [2.02, 2.48]
997  [130.0, 161.0, 129.0, 126.0, 149.0, 190.0, 38....   [2.7, 2.18]
998  [126.0, 153.0, 130.0, 128.0, 168.0, 196.0, 88....  [2.01, 2.63]
999  [128.0, 145.0, 131.0, 129.0, 147.0, 169.0, 74....  [2.72, 2.86]

[1000 rows x 2 columns]

### 3. Test

In [24]:
for i in range(0,len(df_test)):
    df_test.iloc[i,0]=np.array(df_test.iloc[i,0], ndmin=2)
model1.predict(df_test.value[0])

array([[-1.7157596 , -0.25930512]], dtype=float32)

In [ ]:
target_predict1 = forest1.predict(x_test)
target_predict2 = forest2.predict(x_test)
print(r2_score(y_test2, target_predict1))
print(r2_score(y_test2, target_predict2))